body{
    background-color:  #ff99bb;
    }
    
    
    
    
    
    .ibox{
    width:200px;
    margin-left:20px;
    background-color: #ffb3ff;
    }
    
    body{
    text-align:center;
    }
    
    header{
    font-size:30px
    }
    
    button{
    background-color: #ffb3d9;
    }
    
    header{
    font-weight:bold}
    
    div{
    font-weight:bold
    }
    

